#container {
    height: 400px;
    margin-bottom: 2em;
    position: relative;
}

#container > * {
    box-sizing: border-box;
    height: 100%;
    margin-block: 1em;
    padding-block: 1em;
    position: absolute;
    white-space: pre;  /* Allows textarea to scroll horizontally */
    width: 100%;
}

#container > *, #stats {
    padding-inline: 1em;
}

#editing {
    background-color: inherit;
    border: none;
    caret-color: var(--fg);
    color: transparent;
    font: inherit;
    letter-spacing: inherit;
    outline-width: 1px;
    overscroll-behavior: none;
    resize: vertical;
    z-index: 1;
}

#editing:not(:focus-visible) {
    outline-style: dashed;
}

#highlighting {
    overflow: hidden;
}

#highlighting .middle {
    background-color: initial;
    color: var(--fg_highlight);
}

#highlighting mark {
    color: inherit;
}

#highlighting .inner, .error {
    background-color: #ff6464;
}

#highlighting .outer {
    background-color: #aa6464;
}

.placeholder {
    color: var(--fg_dim);
}

#stats #counts {
    white-space: pre-wrap;
}

#stats #palindrome_status {
    float: left;
}