#container {
    height: 400px;
    margin-bottom: 2em;
    position: relative;
}

#container > * {
    box-sizing: border-box;
    height: 100%;
    margin-block: 1em;
    padding: 1em;
    position: absolute;
    white-space: pre;  /* Allows textarea to scroll horizontally */
    width: 100%;
}

#editing {
    background-color: inherit;
    border: none;
    caret-color: var(--fg);
    color: transparent;
    font: inherit;
    letter-spacing: inherit;
    overscroll-behavior: none;
    resize: none;
    z-index: 1;
}

#highlighting {
    outline-offset: 7.5px;
    outline-style: solid;
    outline-width: 1px;
    overflow-y: hidden;
}

#highlighting span:is(:first-child, :last-child):not(.placeholder), .error {
    background-color: #ff6464;
}

#highlighting span:not(:is(:first-child, :last-child)) {
    background-color: #aa6464;
}

.placeholder {
    color: var(--fg_dim);
}

#stats {
    margin-inline: 1em;
}

#stats #counts {
    white-space: pre-wrap;
}

#stats #palindrome_status {
    float: left;
}