#backscrabble {
    display: block;
    fill: var(--fg);
    font-size: 24px;
    margin-block: 6rem;
    margin-inline: auto;
    max-height: min(70vh, 750px);
    max-width: var(--media_width);
    stroke: var(--fg_dim);
    stroke-miterlimit: 10.5;
}

#backscrabble polygon {
    transform: matrix(1.25, 0, 0, -1.25, 32.5, 628.45);
}

#backscrabble polygon:is(g:first-of-type > :nth-child(2n), g:last-of-type > :nth-child(2n+1)) {
    fill: var(--fg_verydim);
}

#backscrabble > circle {
    r: 12.5px;
    stroke-width: 1.25;
}

#backscrabble > .dark_stone {
    fill: var(--fg_verydim);
    stroke: var(--fg);
}

#backscrabble > .dark_stone + text {
    stroke: var(--fg);
}

#backscrabble > .light_stone {
    stroke: var(--fg_verydim);
}

#backscrabble > .light_stone + text {
    fill: var(--fg_verydim);
    stroke: var(--fg_verydim);
}