@font-face {
    font-display: block;
    font-family: Alef;
    src: url('../fonts/Alef-Regular.woff2');
}

* {
    font-family: Alef, Arial, sans-serif;
}

#buttons {
    display: flex;
    flex-wrap: wrap;
    gap: 1em;
}

#buttons:not(:has(~ main .word)),
main:not(:has(.word)) ~ #output {
    display: none;
}

.line {
    display: flex;
    flex-wrap: wrap;
    gap: 1em;
    margin-block: 2em;
}

.word {
    width: min-content;
    max-width: 100%;
}

.word > input {
    box-sizing: border-box;
    min-width: 5em;
    unicode-bidi: bidi-override;
    width: 100%;
}

.word > div {
    width: max-content;
    max-width: 100%;
}

.default:not(:has(:only-child)) {
    color: blue;
}

#output {
    box-sizing: border-box;
    display: block;
    height: 400px;
    margin-top: 2em;
    resize: vertical;
    width: 100%;
    white-space: pre-line;
}