@font-face {
    font-display: block;
    font-family: Alef;
    src: url('../fonts/Alef-Regular.woff2');
}

* {
    font-family: Alef, Arial, sans-serif;
}

#controls > div {
    display: flex;
    flex-wrap: wrap;
    gap: 1em;
    margin-bottom: 2em;
}

#controls:not(:has(~ main .word)),
main:not(:has(.word)) ~ #output {
    display: none;
}

#checkboxes {
    font-size: .833em;
}

#checkboxes span {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

#buttons > button {
    direction: ltr;  /* For left alignment of the multi-line tooltip title */
    unicode-bidi: plaintext;
}

.line {
    display: flex;
    flex-wrap: wrap;
    gap: 1em;
    margin-block: 2.5em;
}

.word {
    max-width: 100%;
    width: min-content;
}

.word > input {
    box-sizing: border-box;
    margin-bottom: 1px;
    min-width: 5em;
    unicode-bidi: bidi-override;
    width: 100%;
}

.word > div {
    width: max-content;
    max-width: 100%;
}

.word select {
    border-radius: 2px;
    border-style: solid;
    border-width: 1px;
}

.word select:focus {
    outline-style: auto;
    outline-width: 1px;
}

main:has(~ :is(#output:focus-visible, #overlay:open)) .word select.selected {
    filter: invert(.9) var(--shadow,);
}

.word select + select {
    margin-inline-start: 1px;
}

.untouched:not(:has(:only-child)) {
    color: blue;
}

#output {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' stroke='black' stroke-width='4' stroke-dasharray='6 2 2 2 2 2 2 6'/%3e%3c/svg%3e");
    border: none;
    box-sizing: border-box;
    display: block;
    field-sizing: content;
    margin-top: 2em;
    min-height: 400px;
    padding-inline: .5em;
    resize: vertical;
    white-space: pre-line;
    width: 100%;
}

#overlay {
    background: none;
    border: none;
    outline: none;
}

#overlay::backdrop {
    background: #0005;
    cursor: wait;
}

.robot {
    display: inline-block;
}

@keyframes spin {
   100% { transform: rotate(1turn) }
}

button:has(.thinking), select.thinking {
    --shadow: drop-shadow(2px 4px 6px black);
    filter: var(--shadow);
}

span.thinking {
    animation: 1s linear infinite spin;
}

#about {
    overscroll-behavior: none;
    max-width: min(60ch, 100%);
}

#about > button {
    border: none;
    display: block;
    height: 2em;
    margin-inline-start: auto;
    position: sticky;
    top: 0;
    translate: -1em -1em;
    width: 2em;
}

#about > button:not(:hover) {
    background: transparent;
}

#about > div {
    padding-bottom: 1em;
    padding-inline: 2em;
}

#about :is(h1, h2) {
    text-align: center;
}

#about p {
    text-align: justify;
}

#about .tables {
    gap: 1.5em;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-block: 1.5em 2.5em;
}

#about :is(table, td, th) {
    border: 1px solid black;
    border-collapse: collapse;
    text-wrap: nowrap;
}

#about :is(td, th) {
    padding-inline: .5em;
    text-align: start;
}

#about td:nth-child(2n) {
    letter-spacing: 50%;
    width: 7ch;
}

#about td:last-child {
    width: 9ch;
}