.fullscreen {
    align-items: center;
    --max_media_height: 100%;
}

@keyframes hor1 {
    100% { rotate: y .5turn }
}

.hor1 {
    animation: var(--dur) forwards hor1;
}

@keyframes hor2 {
    0% { rotate: y .5turn }
    100% { rotate: none }
}

.hor2 {
    animation: var(--dur) forwards hor2;
}

video {
    clip-path: content-box;
    left: 50%;
    margin: 0;
    max-width: 50%;
    --media_width: auto;
    position: absolute;
    transform-origin: 0 100%;
}

#videos {
    aspect-ratio: 8 / 3;
    --triangle_color: var(--fg_dim);
    background-image: linear-gradient(to top right, transparent 80%, var(--triangle_color) 0), linear-gradient(to top left, var(--triangle_color) 20%, transparent 0);
    background-position: bottom left, top left;
    background-repeat: no-repeat;
    background-size: 31.5% 50.01%;
    --cursor: pointer;
    --dur: 5.8s;
    forced-color-adjust: none;
    margin-block: 8rem 12rem;
    margin-inline: auto;
    max-height: var(--max_media_height);
    position: relative;
    width: min(1200px, 100%);
}

@media (hover: hover) {
    #videos:is(:hover, :focus-visible) {
        --triangle_color: var(--fg);
        outline-color: transparent;
    }
}

#videos:active {
    --triangle_color: var(--fg);
}