.table {
    --tables_hor_scrollbar_offset: var(--hor_scrollbar_offset, 16px);

    margin-block: 2rem 2.5rem;
    overflow-x: auto;
    padding-bottom: var(--tables_hor_scrollbar_offset);
    padding-inline-end: 1px;  /* Show missing border in Chrome when overflowing */
}

table {
    --tables_bg: var(--bg, Canvas);
    --tables_fg: var(--fg, CanvasText);
    --tables_on: var(--on, var(--tables_fg));
    --tables_fg_dim: var(--fg_dim, GrayText);
    --tables_fg_verydim: var(--fg_verydim, Highlight);
    --tables_fg_filter: var(--fg_filter, brightness());  /* No-op fallback */
    --tables_fg_inverse: var(--fg_inverse, var(--tables_fg_verydim));
    --tables_frag_dur: var(--frag_dur, 7s);
    --tables_icon_dur: var(--icon_dur, .3s);

    border-collapse: separate;
    border-spacing: 0;  /* Workaround for Firefox issue: https://bugzilla.mozilla.org/show_bug.cgi?id=688556#c51 */
    font-size: initial;
    font-variant-numeric: lining-nums tabular-nums;
    height: fit-content;
    letter-spacing: initial;
    margin-inline: auto;
}

@media (hover: hover) {
    :where(.table, table *):focus-visible {
        outline-color: var(--tables_on);
        outline-offset: 8px;
        outline-style: solid;
    }

    :is(.highlight, .row_highlight) tr:not(:is(.skip_highlight, .skip_highlight *)):hover {
        background: var(--tables_fg_verydim);
    }

    table:is(.highlight, .col_highlight):hover {
        box-shadow: 0 var(--tables_hor_scrollbar_offset) var(--tables_bg);
        overflow-y: clip;
    }

    :is(.highlight, .col_highlight):hover [colspan]:not([colspan='1']), :is(.highlight, .row_highlight):hover :is(.merge_first_col > tbody td:first-child, [rowspan]:not([rowspan='1'])) {
        background-color: var(--tables_bg);
    }

    /* Note: Skipping first columns highlight may be broken due to rowspan > 1 cells in first columns */
    :is(.highlight, .col_highlight) :is(td, th):is(:not([colspan]), [colspan='1']):not(:is(.merge_first_col, .rank) :first-child, [data-first-col-highlight='1'] :first-child, [data-first-col-highlight='2'] :nth-child(-n+2)):hover::after {
        background: var(--tables_fg_verydim);
        content: '';
        height: 1000vh;
        inset-inline: 0;
        position: absolute;
        top: -500vh;
        z-index: -1;
    }

    @keyframes sort {
        100% { rotate: x 65deg }
    }

    .sort button:not(.copy *):is(:hover, :focus-visible)::after {
        animation: var(--tables_icon_dur) infinite alternate sort;
        transform-origin: 0 57%;
    }

    thead button:is(:hover, :focus-visible) {
        background: var(--tables_fg_verydim);
    }

    table :where(a, a *, button, button *):focus-visible {
        outline-style: none;
    }
}

.copy > button::before {
    content: '\1f4cb';
    filter: invert() var(--tables_fg_filter);
}

.copy > button::after {
    content: '\2714';
    font-size: .8em;
    opacity: 0;
    position: absolute;
    transition: opacity 5s ease-in;
}

.copy > button.copied::after {
    opacity: 1;
    transition: none;
}

.merge_first_col > tbody td:first-child {
    border-top: none;
}

.merge_first_col > tbody td:first-child:not(tr:last-child *) {
    border-bottom: none;
}

.number {
    text-align: right;
}

.rank tbody {
    counter-reset: row_number;
}

.rank tbody td:first-child a::before {
    content: counter(row_number);
    counter-increment: row_number;
}

.sort button:not(.copy *)::after {
    content: '\2195';
    display: inline-block;
}

.sort button[value='1']::after {
    content: '\2191';
}

.sort button[value='-1']::after {
    content: '\2193';
}

td.copy, .sort th {
    padding: 0;
}

td, th {
    border-color: var(--tables_fg_dim);
    border-style: solid;
    border-width: 1px;
    padding-block: .3em;
    padding-inline: .5em;
    position: relative;
}

thead button {
    align-items: center;
    background: none;
    border: none;
    border-radius: 0;
    color: inherit;
    display: flex;
    font-family: inherit;
    font-size: initial;
    font-weight: inherit;
    gap: .5em;
    height: 100%;
    justify-content: center;
    padding-block: .3em;
    padding-inline: .5em;
    width: 100%;
}

thead button:active {
    background: var(--tables_on);
    color: var(--tables_fg_inverse);
}

thead.data_header {
    border-bottom-style: double;
    border-color: currentcolor;
}

tr {
    height: 100%;  /* Needed in Firefox for buttons in table cells */
}

@keyframes target {
    0% {background-color: var(--tables_fg_verydim)}
}

tr:target {
    animation: var(--tables_frag_dur) target paused;
}

@media (forced-colors: active) {
    thead button:active {
        outline-offset: -5px;
        outline-style: solid;
        outline-width: 5px;
    }
}
